<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
<title>首页</title>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/basic.css" />
<link rel="stylesheet" href="css/navigation.css" />
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="http://hq.sinajs.cn/list=sh000001"
	charset="gb2312"></script>
<script type="text/javascript">
	$(document)
			.ready(
					function() {
						var elements = hq_str_sh000001.split(",");
						var li = "<tr class='info'><td>"+elements[0]
								+ "</td><td>"
								+ elements[1]
								+ "</td><td>"
								+ elements[2]
								+ "</td><td>"
								+ elements[3]
								+ "</td><td>"
								+ elements[4]
								+ "</td><td>"
								+ elements[5]
								+ "</td></tr>"
								+"<tr class='info'><td>"+elements[0]
								+ "</td><td>"
								+ elements[1]
								+ "</td><td>"
								+ elements[2]
								+ "</td><td>"
								+ elements[3]
								+ "</td><td>"
								+ elements[4]
								+ "</td><td>"
								+ elements[5]
								+ "</td></tr>"
								+"<tr class='info'><td>"+elements[0]
								+ "</td><td>"
								+ elements[1]
								+ "</td><td>"
								+ elements[2]
								+ "</td><td>"
								+ elements[3]
								+ "</td><td>"
								+ elements[4]
								+ "</td><td>"
								+ elements[5]
								+ "</td></tr>";
						$('#tbody').append(li);
					});
</script>
</head>
<body>
<div id="header">
	<p id="reg">
		<a href="login.jsp">注销</a> <a href="#">加入我们</a>
	</p>
</div>
<div id="navigation">
			<ul>
				<li class="nav_active" id="first"><a href="index_manager.html"><span class="glyphicon glyphicon-home"></span> 网站首页<img
						class="daoying_img" src="img/daoying6.png" /></a></li>
				<li id="second"><a href="search_manager.jsp"><span class="glyphicon glyphicon-search"></span> 实时数据<img
						class="daoying_img" src="img/daoying2.png" /></a></li>
				<li id="third"><a href="sharesList_manager.jsp"><span class="glyphicon glyphicon-th-list"></span> 股票信息查询<img
						class="daoying_img" src="img/daoying3.png" /></a></li>
				<!--下拉菜单-->
				<li id="four"><a href="manager.jsp"><span class="glyphicon glyphicon-cog"></span> 股票管理<img
						class="daoying_img" src="img/daoying5.png" /></a></li>
			</ul>
		</div>
<div id="main">
		<!--end of header-->
		<!--header-->
		
		<!--enf of navigation-->
		<!--navigation-->
		<div class="container">
			<div class="carousel slide" id="myCarousel">
				<ol class="carousel-indicators">
    				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        			<li data-target="#myCarousel" data-slide-to="1"></li>
    			</ol>
    			<div class="carousel-inner">
    			<div class="item active">
        			<img src="img/banner1.jpg" alt="pic1" />
        		</div>
        		<div class="item">
        			<img src="img/banner2.jpg" alt="pic2" />
        		</div>
    			</div>
    			<a href="#myCarousel" class="carousel-control left" data-slide="prev">
    				<span class="glyphicon glyphicon-chevron-left"></span>
    			</a>
    			<a href="#myCarousel" class="carousel-control right" data-slide="next">
    				<span class="glyphicon glyphicon-chevron-right"></span>
    			</a>
			</div>
		</div>
        <hr />
        <div id="content" class="container">
        	<div id="layout">
				<table class="table table-striped">
					<caption>股票走势</caption>
				<thead>
     				<tr>
    					<th>指数名称</th>
        				<th>当前点数</th>
                        <th>当前价格</th>
        				<th>涨跌率</th>
                        <th>成交量</th>
        				<th>成交额</th>
      				</tr>
    			</thead>
    			<tbody id="tbody">
                    
    			</tbody>
			</table>
			</div>
        </div>
		<!--end of content-->
       
</div>

 <div id="footer" class="center-block">
			<div class="container">
        		<p class="footer">版权所有：大连理工大学软件学院白晨阳</p>
   		 	</div>
		</div>

<script type="text/javascript" src="js/jquery-1.12.1development.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript">
	$('#myCarousel').carousel();
</script>
</body>
</html>
