<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/style_r.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="reg">
    <div id="pic2"></div>
    <div id="line"></div>
    <div id="box">
    <table width="300" border="0" cellspacing="0">
  <tr>
    <td height="32" class="text">用户名：</td>
    <td><input name="name" type="text" /></td>
  </tr>
   <tr>
    <td height="32" class="text">输入密码：</td>
    <td><input name="name" type="password" /></td>
  </tr>
   <tr>
    <td height="32" class="text">确认密码：</td>
    <td><input name="name" type="password" /></td>
  </tr>
</table>
    </div>
    <div id="confirm">
    <input name="confirm" type="button" value="确认" id="inp"/></div>
</div>
</body>
</html>
