<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>jQuery顶部css定位下拉菜单导航代码_菜单导航_JS代码_一流资源网 </title>
<meta name="keywords" content="jQuery顶部css定位下拉菜单导航代码" />
<meta name="description" content="非常好用的JS下拉菜单代码。<br />
适用浏览器：IE8、360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗." />
<link rel="stylesheet" type="text/css" href="http://www.16css.com/skin/mb001/images/demo.css"/>

<!--/////////////// head区代码开始16css.com ////////////////////-->

<link href="css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/work.js"></script>

<!--/////////////// head区代码结束16css.com ////////////////////-->
</head>

<body>
<div id="dtit"><a href="http://www.16css.com/menu/530.html" target="_blank" style="float:left">jQuery顶部css定位下拉菜单导航代码</a><a href="http://www.16css.com/menu/530.html" target="_blank" style="float:right">下载地址 | 使用教程</a></div>
<div class="ad"><script src=http://www.16css.com/d/js/acmsd/thea8.js></script></div>

<div id="demotit"><span>效果演示</span></div>
<div align="center">

<!--////////////////////////////////////// 代码开始 www.16css.com ///////////////////////////////////////-->
  
<div class="navbg">
  <div class="col960">
    <ul id="navul" class="cl">
      <li class="navhome"><a href="http://www.16css.com" target="_blank">HOME</a></li>
      <li><a href="http://www.16css.com" title="Html">Html</a>
        <ul>
          <li><a href="http://www.16css.com" title="HTML">HTML</a></li>
          <li><a href="http://www.16css.com" title="HTML5">HTML5</a></li>
        </ul>
      </li>
      <li><a href="http://www.16css.com" title="CSS">CSS</a>
        <ul>
          <li><a href="http://www.16css.com" title="CSS入门">CSS入门</a></li>
          <li><a href="http://www.16css.com" title="CSS工具">CSS工具</a></li>
          <li><a href="http://www.16css.com" title="CSS技巧">CSS技巧</a></li>
          <li><a href="http://www.16css.com" title="CSS实例">CSS实例</a></li>
          <li><a href="http://www.16css.com" title="CSS3">CSS3</a></li>
          <li><a href="http://www.16css.com" title="CSS hack">CSS hack</a></li>
          <li><a href="http://www.16css.com" title="CSS2.0 手册">CSS2.0 手册</a></li>
        </ul>
      </li>
      <li><a href="http://www.16css.com" title="网页特效">网页特效</a>
        <ul>
          <li><a href="http://www.16css.com" title="导航菜单">导航菜单</a></li>
          <li><a href="http://www.16css.com" title="表单按钮">表单按钮</a></li>
          <li><a href="http://www.16css.com" title="表格图层">表格图层</a></li>
          <li><a href="http://www.16css.com" title="图片特效">图片特效</a></li>
          <li><a href="http://www.16css.com" title="滚动特效">滚动特效</a></li>
          <li><a href="http://www.16css.com" title="文字特效">文字特效</a></li>
          <li><a href="http://www.16css.com" title="时间日期">时间日期</a></li>
          <li><a href="http://www.16css.com" title="窗口特效">窗口特效</a></li>
          <li><a href="http://www.16css.com" title="鼠标特效">鼠标特效</a></li>
        </ul>
      </li>
      <li><a href="http://www.16css.com" title="前端资讯">前端资讯</a>
        <ul>
          <li><a href="http://www.16css.com" title="用户体验">用户体验</a></li>
          <li><a href="http://www.16css.com" title="前端观察">前端观察</a></li>
          <li><a href="http://www.16css.com" title="职业生涯">职业生涯</a></li>
        </ul>
      </li>
      <li><a href="http://www.16css.com" title="前端技巧">前端技巧</a>
        <ul>
          <li><a href="http://www.16css.com" title="布局技巧">布局技巧</a></li>
          <li><a href="http://www.16css.com" title="网页字体">网页字体</a></li>
          <li><a href="http://www.16css.com" title="flash">flash</a></li>
        </ul>
      </li>
      <li><a href="http://www.16css.com" title="杂七杂八">杂七杂八</a>
        <ul>
          <li><a href="http://www.16css.com" title="帝国cms">帝国cms</a></li>
          <li><a href="http://www.16css.com" title="电脑技巧">电脑技巧</a></li>
          <li><a href="http://www.16css.com" title="随笔杂谈">随笔杂谈</a></li>
        </ul>
      </li>
      <li><a href="http://www.16css.com" title="Javascript">Javascript</a>
        <ul>
          <li><a href="http://www.16css.com" title="Jquery">Jquery</a></li>
          <li><a href="http://www.16css.com" title="Js学习">Js学习</a></li>
          <li><a href="http://www.16css.com" title="Js教程">Js教程</a></li>
        </ul>
      </li>
      <li><a href="http://www.16css.com" title="网站优化">网站优化</a>
        <ul>
          <li><a href="http://www.16css.com" title="SEO杂谈">SEO杂谈</a></li>
          <li><a href="http://www.16css.com" title="站长工具">站长工具</a></li>
          <li><a href="http://www.16css.com" title="经验分享">经验分享</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<script  type="text/javascript"> 
$(".navbg").capacityFixed();
</script>  
  
<!--////////////////////////////////////// 代码结束 www.16css.com ///////////////////////////////////////-->
  
</div>

<p>&nbsp;</p>
<p style="text-align:center; color:#333; line-height:28px; font-size:14px">代码整理：<a href="http://www.16css.com/" target="_blank">一流资源网</a></p>
<p style="text-align:center; color:#333; line-height:28px; font-size:14px">＊尊重他人劳动成果，转载请自觉注明出处！注：此代码仅供学习交流，请勿用于商业用途。</p>
<p>&nbsp;</p>
<div style="display:none"><script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff81c0a22e244e71a1444489aaa8f8420' type='text/javascript'%3E%3C/script%3E"));
</script> - <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5003180'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/stat.php%3Fid%3D5003180%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></div>

</body>
</html>